#container{
  margin: auto;
  /* height: 100px; */
  width: 100%;
  /* padding-top: 50px; */
  padding-bottom: 50px;
  display: block;
  background-color: rgba(22, 160, 133,1.0);
  text-transform: uppercase;
  font-family: Arial;
  text-align:center;
  color: white;
}

h1.title{
  height: 100px;
  width: 100%;
  padding-top: 50px;
  /* padding-bottom: 10px; */
  display: block;
  /* background-color: rgba(22, 160, 133,1.0); */
  text-transform: uppercase;
  font-family: Arial;
  font-size: 3em;
  font-weight: 700;
  text-align:center;
  color: white;
}

h2.title{
  height: 100px;
  width: 100%;
  /* padding-top: 10px; */
  /* padding-bottom: 10px; */
  display: block;
  /* background-color: rgba(22, 160, 133,1.0); */
  text-transform: uppercase;
  font-family: Arial;
  font-size: 2em;
  font-weight: 700;
  text-align:center;
  color: white;
}

#mytable {
      width: 100%;
      margin: auto;
      overflow: auto;
      text-align: center;
}

#mytabletitle{
  color: Black;
  font-family: Arial;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  margin: auto;
  overflow: auto;
  text-align: center;
  font-size: 2em;
}

table{
  width: 100%;
  margin: auto;
  overflow: auto;
  text-align: center;
}

th.text{
  color: Black;
  font-family: Arial;
  text-align: center;
  /* font-size: 1; */
}


td.num{
  color: Black;
  font-family: Arial;
  text-align: center;
}

td.num_new{
  color: rgba(231, 76, 60,1.0);
  font-weight: bold;
  font-family: Arial;
  text-align: center;
}
